@import './../../../../assets/scss/variables';
button {
    border: none;
    outline: none;

    margin: 2rem 0;
    padding: 1rem 4rem;
    background: $blue;
    color: #fff;
    font-weight: 600;
    cursor: pointer;

    border-radius: .5rem;
    transition: .4s ease-in-out;

    &:hover {
        background: $blue2;
    }
}