<!-- app.component.html -->
<header class="system-header container" *ngIf="authService.isLoggedIn()">
    <span class="system-name">Azalea</span>
    <div class="system-action-user">
        <button class="system-user-notify">
            <span class="material-symbols-outlined">
                notifications
            </span>
        </button>
        <button class="system-user">
            <span class="material-symbols-outlined" style="fill: #fff">
                person
            </span>
            <span class="user-name">Maria Eduarda</span>
        </button>
    </div>
</header>
<nav class="system-navigation" *ngIf="authService.isLoggedIn()">
    <div class="button">
        <button class="hamburger-menu" (click)="toggleMenu()">
            <span class="material-symbols-outlined">
                menu
            </span>
        </button>
    </div>
    <div class="nav-links" [ngClass]="{ 'active': menuActive }">
        <a routerLink="home" routerLinkActive="active" (click)="closeMenu()">
            <span class="material-symbols-outlined">
                home
            </span>
            Inicio
        </a>
        <a routerLink="processess" routerLinkActive="active" (click)="closeMenu()">
            <span class="material-symbols-outlined">
                folder
            </span>
            Processos
        </a>
        <a routerLink="contracts" routerLinkActive="active" (click)="closeMenu()">
            <span class="material-symbols-outlined">
                contract
            </span>
            Contratos
        </a>
        <a routerLink="calendar" routerLinkActive="active" (click)="closeMenu()">
            <span class="material-symbols-outlined">
                calendar_month
            </span>
            Agenda
        </a>
    </div>
</nav>
<main>
    <router-outlet></router-outlet>
</main>
