<header class="system-header container">
    <span class="system-name">Azalea</span>
    <!-- <span class="system-company">Company name</span> -->
    <div class="system-action-user">
        <button class="system-user-notify">
            <fa-icon [icon]="bell"></fa-icon>
        </button>
        <button class="system-user">
            <fa-icon [icon]="user"></fa-icon>
            <span class="user-name">Maria Eduarda</span>
        </button>
    </div>
</header>
<nav class="system-navigation">
    <a routerLink="processs" class="active">
        <fa-icon [icon]="files"></fa-icon>
        Processos
    </a>
    <a routerLink="contratos">Link</a>
    <a routerLink="calendar">
        <fa-icon [icon]="calendar"></fa-icon>
        Agenda
    </a>
    <a routerLink="#">Link</a>
</nav>
<main>
    <router-outlet></router-outlet>
</main>