@import './../assets/scss/variables';

.system-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $blue;
    color: #fff;

    .system-action-user {
        display: flex;
        gap: 2rem;
    }

    button {
        border: none;
        outline: none;
        background: none;
        display: flex;
        gap: .6rem;
        cursor: pointer;
        color: #fff;
    }
}

.system-navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: $blue;

    a {
        padding: 1rem 2rem;
        text-decoration: none;
        color: #fff;
        font-weight: 400;

        &:hover {
            background: $blue2;
            color: #fff;
        }

        &.active {
            background: $blue2;
            color: #fff;
        }
    }
}

main {
    padding: 1rem;
}