@import './../../../../../../assets/scss/variables';

form {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;

    label {
        font-size: 1.6rem;
        margin: 1.4rem 0 .3rem 0;
    }

    input,
    textarea {
        outline: none;
        padding: .4rem 1rem;
        border-radius: .4rem;
        border: .1rem solid rgba($color: #000000, $alpha: .4);
        font-weight: 400;

        &:focus {
            border: .2rem solid $blue;
        }
    }

    textarea {
        resize: none;
        height: 20rem;
    }

    .parties {
        .row {
            display: flex;
            justify-content: space-between;

            div {
                flex: 1;
                display: flex;
                flex-direction: column;
                margin-right: 1rem;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        // Media query para telas menores
        @media (max-width: 768px) {
            .row {
                flex-direction: column;

                div {
                    margin-right: 0;
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .addItem {
        border: none;
        outline: none;
        background: none;

        border-bottom: .1rem solid black;
        width: 100%;
        text-align: left;
        font-weight: 500;
        font-size: 1.6rem;
        margin: 1.4rem 0;
        padding: .4rem 0;

        cursor: pointer;
    }

    .listItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: .4rem;

        input {
            flex: 1;
        }

        button {
            cursor: pointer;
        }
    }

    .removeItem {
        background: none;
        border: none;
    }

    select {
        width: 100%;
        padding: 10px;
        border: .1rem solid rgba($color: #000000, $alpha: .4);
        border-radius: .4rem;
        background-color: #fff;
        font-size: 1.6rem;
        color: #333;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>');
        background-repeat: no-repeat;
        background-position: right 1rem center;
        background-size: 1.4rem;
        cursor: pointer;

        &:focus {
            border-color: $blue;
            outline: none;
            box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
        }

        &:disabled {
            background-color: #e9ecef;
            color: #6c757d;
            cursor: not-allowed;
        }

        option {
            font-size: 1.6rem;
            font-weight: 500;
        }
    }
}

@media screen and (min-width: 1080px) {
    .addItem {
        width: 20%;
    }

}