<button (click)="openModal()">Add Processo</button>
<app-modal [isVisible]="isVisible" (closeModal)="closeModal()" title-modal="Cadastro de processos">
    <form [formGroup]="processForm">
        <label for="number">Número</label>
        <input type="text" formControlName="number" id="number" (keypress)="onKeyPress($event)">

        <div formGroupName="parties" class="parties">
            <div class="row">
                <div class="plaintiff">
                    <label for="plaintiff">Autor</label>
                    <input type="text" formControlName="plaintiff" id="plaintiff">
                </div>
                <div class="defendant">
                    <label for="defendant">Réu</label>
                    <input type="text" formControlName="defendant" id="defendant">
                </div>
            </div>
            <div class="row">
                <div class="plaintiffId">
                    <label for="plaintiffId">CPF do Autor</label>
                    <input type="text" formControlName="plaintiffId" id="plaintiffId" (keypress)="onKeyPress($event)">
                </div>
                <div class="lawyerOAB">
                    <label for="lawyerOAB">OAB do Advogado</label>
                    <input type="text" formControlName="lawyerOAB" id="lawyerOAB" (keypress)="onKeyPress($event)">
                </div>
            </div>
        </div>

        <label for="court">Tribunal</label>
        <input type="text" formControlName="court" id="court">

        <label for="bench">Vara</label>
        <input type="text" formControlName="bench" id="bench">

        <label for="description">Descrição</label>
        <textarea formControlName="description" id="description"></textarea>

        <label for="progress"></label>
        <select id="progress" formControlName="progress">
            <option value="" disabled selected>Selecione o progresso...</option>
            <option *ngFor="let option of progressOptions" [value]="option">{{ option }}</option>
        </select>

        <div class="documents">
            <button (click)="addItem('documents')" class="addItem">Documentos &plus;</button>
            <div formArrayName="documents">
                <div *ngFor="let item of getArrayControls('documents'); let i = index" class="listItem">
                    <input type="file" id="documents" [formControlName]="i" placeholder="Documentos {{ i + 1 }}">
                    <button (click)="removeItem('documents', i)" class="removeItem">
                        <fa-icon [icon]="trash" [style.color]="'black'"></fa-icon>
                    </button>
                </div>
            </div>
        </div>

        <div class="deadlines">
            <button (click)="addItem('deadlines')" class="addItem">Prazos &plus;</button>
            <div formArrayName="deadlines">
                <div *ngFor="let item of getArrayControls('deadlines'); let i = index" class="listItem">
                    <input type="text" placeholder="Categoria">
                    <input type="date" [formControlName]="i" placeholder="Prazo {{ i + 1 }}">
                    <button (click)="removeItem('deadlines', i)" class="removeItem">
                        <fa-icon [icon]="trash" [style.color]="'black'"></fa-icon>
                    </button>
                </div>
            </div>
        </div>

        <div class="tags">
            <button (click)="addItem('tags')" class="addItem">Tags &plus;</button>
            <div formArrayName="tags">
                <div *ngFor="let item of getArrayControls('tags'); let i = index" class="listItem">
                    <input type="text" [formControlName]="i" placeholder="Tag {{ i + 1 }}">
                    <button (click)="removeItem('tags', i)" class="removeItem">
                        <fa-icon [icon]="trash" [style.color]="'black'"></fa-icon>
                    </button>
                </div>
            </div>
        </div>

        <!-- <div formArrayName="documents">
            <div *ngFor="let item of getArrayControls('documents'); let i = index">
                <input [formControlName]="i" placeholder="Documento {{ i + 1}}">
            </div>
        </div> -->

        <app-btn btn-text="Enviar" (submit)="ngSubmit()"></app-btn>

    </form>
</app-modal>